<?xml version="1.0" encoding="UTF-8"?>

<suite name="eBay Test Suite" verbose="1">
  <test name="Cart Page test">
    <classes>
      <class name="tests.CartPageTest">
        <methods>
          <include name="openAndAssertCartPage"/>
        </methods>
      </class> 
    </classes>
  </test> 
</suite> 
            